.list-group-item-header {
    text-decoration: underline;
    font-weight: bold;
}

html {
    overflow-x: initial !important;
}

body {
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    height: 100vh;
    overflow-x: hidden;
}

.card-header {
    background-color: #212529d5 !important;
}

.nav-link.p-0 {
    color: rgba(255, 255, 255, 0.829) !important;
    /* edff27 */
    font-size: 0.9em;
}

.card-header:hover {
    border-color: rgb(45, 143, 221);
    color: rgba(23, 196, 226, 0.952) !important;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(45, 143, 221);
    font-weight: bold;
    transform: translateY(-0.25em);
}

.btn.btn-primary.view-course:hover {
    background-color: #03bbf3;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.card-img-top:hover {
    transform: scale(1.02);
}

.navbar-brand {
    transition: all 0.2s ease-out;
}

.navbar-brand.hover-effect:hover {
    color: #14a9d6 !important;
}

.nav-link {
    transition: all 0.2s ease-out;
}

.css-button-sliding-to-left--green {
    min-width: 80px;
    height: 40px;
    color: #212529d5;
    padding: 5px 10px;
    /* font-weight: bold; */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #212529d5;
    overflow: hidden;
    border: 2px solid #57cc99;
    color: #57cc99;
}

.css-button-sliding-to-left--green:hover {
    color: #212529d5;
}

.css-button-sliding-to-left--green:hover:after {
    width: 100%;
}

.css-button-sliding-to-left--green:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #57cc99;
}

.nav-link.hover-effect:hover {
    background-color: rgb(20, 162, 206) !important;
}

.nav-link.active {
    background-color: rgb(11, 116, 148);
}

.main-body {
    background-image: url("../images/background1.png"), url("../images/background2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: top, top;
}

td input[type="checkbox"] {
    margin: auto;
}

@media (max-width: 992px) {
    .col.mb-4 {
        text-align: center !important;
    }

    .btn-nav {
        margin-top: 1em;
    }
}

@media (min-width: 992px) {
    .nav-link,
    .nav-link.active,
    .d-flex.nav-link {
        border-radius: 25px 10px 25px 10px;
    }

    .nav-link.hover-effect:hover,
    .navbar-brand.hover-effect:hover,
    .d-flex.nav-link.hover-effect:hover,
    .navbar-brand.hover-effect:hover {
        transform: scale(1.05);
    }
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: 0.3rem;
    }
}


.icon-new-addded {
    vertical-align: -.125em;
    fill: white;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

.icon-link > .icon-new-addded {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.icon-link:hover > .icon-new-addded {
    transform: translate(.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    position: relative;
    background-color: black;
    height: 30vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header .container-fluid {
    position: relative;
    z-index: 2;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    .header {
        background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black no-repeat center center scroll;
    }

    .header video {
        display: none;
    }
}
